<!-- views/partials/admin_header.html -->
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
			</button>
			<a class="navbar-brand page-scroll" href="/">Recognize</a>
		</div>

		<div id="myNavbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a class="page-scroll" href="/admin">Home</a></li>
				<li><a class="page-scroll" href="/control">Control Panel</a></li>
				<li><a class="page-scroll" href="/reports">Business Intelligence Reports</a></li>
				<li><a href="/signout" title="sign out">Sign out</a><li>
			</ul>
		</div>
	</div>
</nav>
