<!-- views/partials/reports_nav.html -->

<nav id="report_nav">
	<ul>
		<li><button href="/reports/type" class="btn btn-block graph_link admin-link" id="type">Awards by type</button></li>
		<li><button href="/reports/month" class="btn btn-block graph_link admin-link" id="month">Awards by month</button></li>
		<li><button href="/reports/received" class="btn btn-block graph_link admin-link" id="received">Most Awards Received</button></li>
		<li><button href="/reports/sent" class="btn btn-block graph_link admin-link" id="sent">Most Awards Given</button></li>
	</ul>
</nav>