<!-- views/pages/admin.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.html %>
</head>
<body class="container">

    <header>
        <% include ../partials/admin_header.html %>
    </header>

    <main>
        <div class="jumbotron text-center admin-form well">
            <div class="col-sm-12">
                <h2>Welcome to Recognize</h2>
                <p><small>Select Control Panel or Business Intelligence Reports above.</small></p>
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/admin_footer.html %>
    </footer>

</body>
</html>