<!-- views/pages/control_panel/edit_user.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head.html %>
</head>
<body class="container">

    <header>
        <% include ../../partials/admin_header.html %>
    </header>

    <main>
        <div class="jumbotron text-center control-form container admin-form">
            <div class="well col-sm-6">
                <h3><%= title %></h3>
                <form action="/control/user_edited" method="post">
                    <div class="form-group text-left">
                        <label for="first_name">First Name</label>
                        <input type="text" name="first_name" class="form-control" value="<%= list.first_name %>" required>
                    </div>
                    <div class="form-group text-left">
                        <label for="last_name">Last Name</label>
                        <input type="text" name="last_name" class="form-control" value="<%= list.last_name %>" required>
                    </div>
                    <div class="form-group text-left">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" value="<%= list.email %>" required>
                    </div>
                    <div class="form-group text-left">
                        <label for="password">New Password</label>
                        <input type="password" name="password" class="form-control" value="">
                    </div>

                    <input type="hidden" name="id" value="<%= list.id %>">
                    <input type="hidden" name="signature_link" value="<%= list.signature_link %>">

                    <input type="submit" class="btn btn-lg admin-link" value="Submit">
                </form>
            </div>
            <div class="well col-sm-6">
                <h3>Replace User Signature</h3>
                <form action="/control/adminEditUserSignature" method="post" enctype="multipart/form-data">
                    <div class="input-group text-left">
                        <label for="file">Image Signature</label>
                        <div class="input-group-btn">
                            <span class="btn btn-file">
                                Browse&hellip; <input type="file" name="file" id="file">
                            </span>
                        </div>
                        <input type="text" class="form-control filename" readonly>
                    </div>

                    <input type="hidden" name="email" value="<%= list.email %>">

                    <input type="submit" class="btn btn-lg admin-link" value="Submit">
                </form>
            </div>
        </div>
    </main>

    <footer>
        <% include ../../partials/admin_footer.html %>
    </footer>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/script.js"></script>
</body>
</html>